body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
    background-color: #ac1818;
    text-align: center;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}

dl {
    margin: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 10px 0;
    padding: 0;
}